# Copier ce fichier en .env et renseigner vos cles Stripe (mode test ou live).
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
#test key = pk_test_51Tj7xYE8dDeXnslQzLH7e3UzBXhNlwzsxsw541urWSFoKsW7chyYvO4hyzsumOL4S5i8AVhaoUaSFn8mCjW6I092001zDrrX0o
